<?xml version="1.0"?>
<configuration>

	<jmxConfigurator />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
	  <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{dd/MM/yyyy HH:mm:ss} %5p %C{0}:%L - %m%n</pattern>
       </encoder>

	</appender>

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>

</configuration>
